@import './_globals';


/*  ---------- HEADER ----------   */

.header{
    height: 100vh;
    // background-image: url("../Images/slider_1.png");
    background-color: $dark_blue;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; 
}

.hero{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.slider{
    position: absolute;
    width: 100vw;

    .text{ 
        p{
            color: white;
            letter-spacing: 3px;
            opacity: 90%;
        }
    }

    .buttons{
        display: flex;
        align-items: center;
        margin-top: 80px;
        @include breakpoint-down(small){
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        }
        button{
            margin-right: 70px;
            @include breakpoint-down(small){
                margin: 0 0 25px 0;
            }
        }
        .main_button{
            border: .125rem solid white;
            box-shadow: -6px 11px 14px -6px rgba(0,0,0,0.5);
            &:hover{
                border: .25rem solid $dark_red;
            }
        }
    }
}


/*  ---------- FIRST SECTION ----------   */

.Home_Section_1{
    margin-left: $Left_Margin;
    margin-top: $Top_Margin;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint-down(tablet){
        flex-direction: column;
        margin-left: $Left_Margin-small;
    }

    .left{
        position: relative;
        flex: 1;
        margin-right: 50px;
        button{
            margin-top: 25px;
            @include breakpoint-down(tablet){
                margin-top: 0;
            }
        }

        @include breakpoint-down(tablet){
            margin-right: 25px;
        }

    }
    .right{
        margin-right: $Left_Margin;
        flex: 1;
        img{
            width: 90%;
            height: 100%;
            float: right;
            box-shadow: $image_shadow;
            @include breakpoint-down(tablet){
                width: 100%;
                margin-top: 25px;
            } 
        }

        @include breakpoint-down(tablet){
            margin-right: $Left_Margin-small;
        }
    }
}

/*  ---------- TESTIMONIALS SECTION ----------   */

.Home_Section_2{
    margin-left: $Left_Margin;
    margin-right: $Left_Margin;
    margin-top: $Top_Margin;

    @include breakpoint-down(tablet){
        margin-right: $Left_Margin-small;
        margin-left: $Left_Margin-small;
        
    }
}

.testimonials{

    .testimonial{
        background-color: $dark_blue;
        padding: 20px;
        margin-bottom: 20px;
        width: 70%;
        min-height: 150px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .3);
        @include breakpoint-down(tablet){
            width: 100%;
        }
        .title{
            font-weight: 600;
            font-size: rem(22);
            color: white;
            display: flex;
            align-items: center;
            img{
                height: rem(48);
                width: rem(48);
                margin-right: 20px;
            }
        }
        p{
            font-size: rem(16);
            color: rgba(255, 255, 255, 0.8);
            padding-left: 70px;
            padding-right: 25px;
            margin: 0;  

        }
    }

    @include breakpoint-up(tablet){
        :nth-child(2){
            margin-left: 15%;
        }
    
        :nth-child(3){
            margin-left: 30%;
            margin-bottom: 0;
        }
    }
}

/*  ---------- THEIRD SECTION ----------   */

.reverse{
    .right{
        img{
            float: left;
        }

        @include breakpoint-down(tablet){
            display: none;
        }
    }
}

/*  ---------- PRODUCT SECTION ----------   */
.Product_Section{
    margin-top: $Top_Margin;

    .title{
        width: 100%;
        text-align: center;
        position: relative;
        height: 80px;
        margin-bottom: 20px;
        h2{
            color: $dark_gold;
            padding-top: 10px;
        }
        img{
            opacity: 0.2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: -1;
            height: 100%;
        }
    }
    .product{
        height: 80vh;
        position: relative;
        overflow: hidden; 
        @include breakpoint-down(tablet){
            height: 100vh;
        }       
        img{
            position: absolute;
            z-index: -1;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
            @include breakpoint-down(tablet){
                width: unset;
            }
        }

        .content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: $Left_Margin;
            @include breakpoint-down(tablet){
                left: $Left_Margin-small;
            }
            .text{ 
                span{
                    color: white;
                    font-family: $sec_font;
                    font-weight: bold;
                    font-size: rem(62);
                    @include breakpoint-down(small){
                        font-size: rem(38);
                    }
                }
                p{
                    color: white;
                    opacity: 90%;
                    letter-spacing: 3px;
                    @include breakpoint-down(small){
                        font-size: rem(16);
                    }
                }
            }
        
            .buttons{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 50px;
                @include breakpoint-down(tablet){
                    margin-top: 20px;
                }
                @include breakpoint-down(small){
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
                .main_button{
                    background-color: $dark_gold;
                    border-color: $dark_gold;
                    margin-right: 50px;
                    @include breakpoint-down(tablet){
                        margin-right: 20px;
                    }
                    @include breakpoint-down(small){
                        margin: 0 0 20px 0;
                    }
                }
                .main_button:hover{
                    color: $dark_gold;  
                    border-color: $dark_gold;
                }
                .sec_button{
                    border-color: $dark_gold;
                    color: $dark_gold;
                }
            }

        }
    }
}

// SLIDER

.slider-container {
    position: relative;
    height: 100%;
    user-select: none;
    cursor: all-scroll;
  }
  
  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 8%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  }
  .slider-control.right {
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  }
  
  .slider-pagi {
    padding: 0;
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .slider {
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .slider.animating {
    transition: transform 0.5s;
    will-change: transform;
  }
  .slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
  }
  .slide__text-desc{
    @include breakpoint-down(small){
        font-size: rem(16);
    }
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    will-change: transform;
  }
  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("../Images/slider_1.png");
  }

  .slide:nth-child(2) {
    left: 100%;
    .slide-1-buttons{
        .main_button{
            background-color: $dark_gold;
            border-color: $dark_gold;
            margin-right: 50px;
            @include breakpoint-down(tablet){
                margin-right: 20px;
            }
            @include breakpoint-down(small){
                margin-right: 0;
            }
        }
        .main_button:hover{
            color: $dark_gold; 
            border-color: $dark_gold; 
        }
    }

  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("../Images/slider_2.png");
  }

  .slide__text {
    transition: transform 0.2s 0.4s, opacity 0.2s 0.4s;
    will-change: transform, opacity;
    position: absolute;
    top: 50%;
    width: 85%;
    transform: translateY(-50%) !important;
    opacity: 0;
    padding-left: $Left_Padding;
    @include breakpoint-down(tablet){
        padding: 0 $Left_Padding-small;
        width: 100%;
        text-align: center;
        transform: translateY(-50%) !important;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }
    @include breakpoint-down(small){
        padding: 0 5px;
    }
  }

    .buttons{
        @include breakpoint-down(tablet){
            justify-content: center;
        }
        .sec_button{
            @include breakpoint-down(tablet){
                margin-right: 0 !important;
            }
        }
    }


