@import './_globals';

.nav{
    width: 100%;
    height: $nav_height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $Left_Padding;
    position: absolute;
    top: 0;
    z-index: 1000;  
    
    @include breakpoint-down(medium){
        padding: 0 $Left_Padding-small;
    }

    .logo{
        height: rem(45);
        img{
            height: 100%;
        }
    }

    &_items  {
        min-width: 45%;
        @include breakpoint-down(tablet){
            display: none;
        }
        ul{
            display: flex;
            padding: 0;
            justify-content: space-between;
            li a{
                cursor: pointer;
                font-weight: 600;
                margin-right: 15px;
                font-size: $small-size;
                color: white;
                padding: 8px 20px;
                transition: .2s ease-out;
                border-radius: 100px;

                &.active{
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            li a:hover{
                background-color: rgba(255, 255, 255, 0.2);
            }
            
        }
    }

    .language select{
        background: none;
        border: 2.5px solid white;
        border-radius: 8px;
        padding: 4px 8px;
        outline: none;
        font-weight: normal;
        font-size: rem(10);
        color: white;
        text-transform: uppercase;

        @include breakpoint-down(tablet){
            display: none;
        }
    }

    .nav_mobile{
        @include breakpoint-up(tablet){
            display: none;
        }
        &_burger_toggle{
            height: $nav_height;
            position: fixed;
            top: 0px;
            right: 5px;
            width: 60px;
            border: none;
            cursor: pointer;
            z-index: 10000;

            span.line{
                display: block;
                width: 70%;
                height: 3px;
                background-color: white;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform 0.2s;
            }
            span.line:first-of-type{
                top: 35%;
            }
            span.line:nth-of-type(2){
                top: 50%;
            }
            span.line:last-of-type{
                top: 65%;
            }

            &.active .line:first-of-type{
                top: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
              }
            &.active .line:nth-of-type(2){
                transform: translateX(30vw);
              }
            &.active .line:last-of-type{
                top: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
              }

            &.active + .nav_mobile_items ul li{
                transform: translateX(0);
            }

            &.active + .nav_mobile_items{
                transform: translateX(0);
            }
                            
        }

        &_items{
            position: fixed;
            z-index: -1;
            top: 0;
            right:0;
            transform: translateX(-100vw);
            width: 60vw;
            height: 100vh;
            transition: 0.5s ease-in-out;
            padding: $nav_height $Left_Padding-small;
            box-shadow: $image_shadow;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 80%;
                text-align: center;
                padding: 0;

                li{
                    transform: translateX(-100vw);
                    transition: 0.5s cubic-bezier(.48,-0.66,.69,.54);
                    border-radius: 16px;
                    h3{
                        margin: 16px 0;
                        border-radius: 16px;
                    }
                    &.active{
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                }
                li:nth-of-type(1){
                    transition-delay: 0s;
                  }
                li:nth-of-type(2){
                    transition-delay: 0.1s;
                  }
                li:nth-of-type(3){
                    transition-delay: 0.2s;
                }
                li:nth-of-type(4){
                    transition-delay: 0.3s;
                }
            }

            .languages{
                height: 20%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                color: white;
                span{
                    font-size: $small-size;
                }
            }
        }
    }


}      